#Syntax is communication_id|board_ids|rank_limit|update_mode|sort_mode|upload_num_limit|upload_size_limit
#board_ids can be multiple board ids separated by a comma
#update_mode values:
#NORMAL_UPDATE
#FORCE_UPDATE
#sort_mode values:
#DESCENDING_ORDER
#ASCENDING_ORDER

#Sonic Mania
NPWR12997_00|1,6|100|NORMAL_UPDATE|ASCENDING_ORDER|10|6000000

#Gravity Rush Remastered
NPWR07915_00|1,3,4,5,7,9,11,12,15,16,17,18,20,23,24,25|100|NORMAL_UPDATE|ASCENDING_ORDER|10|6000000
